.container {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.heading {
  color: #f0dddd;
  margin-top: 4rem;
  margin-left: 2rem;
  font-size: x-large;
}
.favList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
